include partial/shared

-
  var faq = [
    {
      label: 'Як працює НПФ?',
      accordion: [
        {
          label: 'Що таке недержавний пенсійний фонд?',
          content: `
                  <p>Недержавний пенсійний фонд (НПФ) - юридична особа, створена відповідно до Закону України «Про недержавне пенсійне забезпечення», яка має статус неприбуткової організації (непідприємницького товариства) та працює виключно з метою накопичення пенсійних внесків на користь учасників пенсійного фонду з подальшою їх виплатою при виході на пенсію таких учасників.</p>
                  <p>НПФ називається «недержавним» не тому, що функціонує поза межами держави або державі немає до нього діла, а тому, що уряд країни не має права жодним чином використовувати кошти такого фонду (на відміну від Пенсійного фонду України та інших державних фондів).</p>
                  <p>В деяких країнах такі пенсійні фонди називаються неурядовими або приватними.</p>
                `,
        },
        {
          label: 'В чому різниця між учасником та вкладником НПФ?',
          content: `
                  <p>Учасник НПФ - фізична особа, на користь якої здійснюються внески до пенсійного фонду та яка має право на отримання пенсійних виплат. Учасниками відкритого фонду можуть бути громадяни України, іноземці та особи без громадянства (п.1 ст.7 Закону).</p>
                  <p>Вкладник недержавного пенсійного фонду - особа, яка сплачує пенсійні внески на користь учасника фонду. Вкладником відкритого фонду може бути сам учасник фонду, подружжя, діти, батьки, роботодавець учасника фонду або професійне об’єднання, членом якого є учасник фонду (п.1 ст.7 Закону).</p>
                  <p>Якщо Ви самостійно сплачуєте пенсійні внески за себе - Ви є одночасно і учасником і вкладником пенсійного фонду, якщо за Вас сплачує роботодавець - Ви є учасником фонду, а компанія-роботодавець - вкладником, якщо Ви плачуєте пенсійні внески за члена сім'ї - Ваш член сім'ї вважається учасником НПФ, а Ви - вкладником.</p>
                `,
        },
        {label: 'Які компанії обслуговують НПФ?', content: `<p>content</p>`},
        {label: 'В які активи інвестуються кошти фонду?', content: `<p>content</p>`},
        {label: 'Яку дохідність фонду можна очікувати?', content: `<p>content</p>`},
        {label: 'Які функції Ради фонду?', content: `<p>content</p>`},
        {label: 'Як працює адміністратор фонду?', content: `<p>content</p>`},
        {label: 'Що робить компанія з управління активами?', content: `<p>content</p>`},
        {label: 'Які функції банка-зберігача?', content: `<p>content</p>`},
        {label: 'Який державний орган контролює діяльність фонду та обслуговуючих компаній?', content: `<p>content</p>`},
        {label: 'Який закон регулює діяльність недержавних пенсійних фондів?', content: `<p>content</p>`},
      ]
    },
    {
      label: 'Накопичення',
      accordion: [
        {label: `Скільки рекомендується відкладати, щоб накопичити на пенсію?`, content: `<p>content</p>`},
        {label: `Чи існують вимоги до розміру та регулярності внесків?`, content: `<p>content</p>`},
        {label: `Що буде, якщо припинити сплачувати внески?`, content: `<p>content</p>`},
        {label: `Як розрахувати майбутню пенсію?`, content: `<p>content</p>`},
      ],
    },
    {
      label: `Сплата пенсійних внесків за членів сім'ї`,
      accordion: [
        {label: `Чи можу я сплачувати пенсійні внески за членів сім'ї?`, content: `<p>content</p>`},
        {label: `Чи нараховується інвестиційний дохід учасникам, на користь яких сплачувались, а потім перестали надходити внески?`, content: `<p>content</p>`},
        {label: `Чи нараховується інвестиційний дохід учасникам, які почали отримувати виплати?`, content: `<p>content</p>`},
        {label: `Чи може вкладник фонду (фізична особа або роботодавець учасника фонду) відкликати пенсійні внески, сплачені на користь учасника (наприклад, у випадку порушення учасником договірних умов).`, content: `<p>content</p>`},
      ],
    },
    {
      label: 'Сплата пенсійних внесків за рахунок роботодавця',
      accordion: [
        {label: `Чи може мій роботодавець оплачувати на мій рахунок пенсійні внески?`, content: `<p>content</p>`},
      ],
    },
    {
      label: 'Дохідність фонду',
      accordion: [
        {label: `Яку дохідність фонду можна очікувати? `, content: `<p>content</p>`},
        {label: `Які є гарантії дохідності фонду?`, content: `<p>content</p>`},
        {label: `Де я можу подивитися результати діяльності та дохідність фонду за попередні роки?`, content: `<p>content</p>`},
        {label: `Якої інвестиційної стратегії повинні дотримуватися НПФ?`, content: `<p>content</p>`},
        {label: `Які вимоги до диверсифікації активів фонду?`, content: `<p>content</p>`},
        {label: `Що впливає на дохідність фонду?`, content: `<p>content</p>`},
      ],
    },
    {
      label: 'Отримання виплат',
      accordion: [
        {label: `Коли я зможу почати отримувати пенсійні виплати?`, content: `<p>content</p>`},
        {label: `Як відбувається визначення пенсійного віку?`, content: `<p>content</p>`},
        {label: `З якою регулярністю можна отримувати виплати з НПФ?`, content: `<p>content</p>`},
        {label: `Чи можна отримати всю суму пенсійних накопичень за один раз?`, content: `<p>content</p>`},
        {label: `Куди має звернутися учасник фонду за призначенням пенсійних виплат?`, content: `<p>content</p>`},
        {label: `Як швидко я отримаю першу пенсійну виплату після укладання контракту на виплату?`, content: `<p>content</p>`},
        {label: `Чи можна скористатися пенсійними накопиченнями до настання пенсійного віку?`, content: `<p>content</p>`},
        {label: `Чи можна отримати всю суму або половину пенсійних накопичень після настання пенсійного віку?`, content: `<p>content</p>`},
        {label: `Чи можна отримувати пенсійні виплати одразу з декількох НПФ?`, content: `<p>content</p>`},
        {label: `Чи можна на прохання учасника НПФ тимчасово припинити виплати учаснику НПФ?`, content: `<p>content</p>`},
      ],
    },
    {
      label: 'Оподаткування та пільги',
      accordion: [
        {label: `Як оподатковуються пенсійні виплати?`, content: `<p>content</p>`},
        {label: `Які податкові пільги існують для вкладника НПФ?`, content: `<p>content</p>`},
        {label: `Як отримати податкові пільги при здійсненні пенсійних внесків?`, content: `<p>content</p>`},
        {label: `Хто розраховує і сплачує податок з пенсійних виплат?`, content: `<p>content</p>`},
        {label: `Чи можливо отримати податкові пільги при сплаті пенсійних внесків за членів сім'ї?`, content: `<p>content</p>`},
      ],
    },
    {
      label: 'Як захищені мої пенсійні накопичення?',
      accordion: [
        {label: `Які гарантії збереження, примноження та захисту пенсійних накопичень учасників фонду?`, content: `<p>content</p>`},
        {
          label: `Чи може бути накладений арешт на пенсійні кошти учасника НПФ або конфіскація його пенсійних накопичень?`,
          content: `<p>content</p>`
        },
        {label: `Що означає «диверсифікація активів» НПФ?`, content: `<p>content</p>`},
        {label: `Що гарантує держава учасникам і вкладникам НПФ?`, content: `<p>content</p>`},
        {label: `Чи можна проголосити НПФ банкрутом?`, content: `<p>content</p>`},
        {label: `Що станеться з пенсійними накопиченнями у випадку ліквідації фонду?`, content: `<p>content</p>`},
        {label: `Чи існує фонд гарантування пенсійних накопичень подібний до Фонду гарантування вкладників банків – фізичних осіб?`, content: `<p>content</p>`},
        {label: `Чи поширюється строк давності на вимоги і претензії учасника фонду?`, content: `<p>content</p>`},
        {label: `Чи можливе банкрутство НПФ та втрата накопичень?`, content: `<p>content</p>`},
      ],
    },
    {
      label: 'Особливі випадки (критична хвороба, інвалідність, успадкування, виїзд на ПМЖ, розлучення)',
      accordion: [
        {label: `Чи може отримувати пенсію з НПФ учасник, який виїхав на постійне місце проживання за межі України?`, content: `<p>content</p>`},
        {label: `Чи має право іноземець або громадянин України, який працює за кордоном, платити внески до НПФ і отримувати виплати?`, content: `<p>content</p>`},
        {label: `Що стане з пенсійними накопиченнями учасника у зв’язку з розірванням шлюбу?`, content: `<p>content</p>`},
        {label: `Що мають робити спадкоємці учасника (його рідні) у випадку смерті учасника?`, content: `<p>content</p>`},
        {label: `Що має робити учасник у випадку настання інвалідності?`, content: `<p>content</p>`},
        {label: `Що має робити учасник (його рідні) у випадку тяжкого захворювання учасника (інсульт, онкозахворювання тощо)?`, content: `<p>content</p>`},
        {label: `Що буде з пенсійними накопиченнями учасника, якщо з ним щось станеться до початку виплат або після початку виплат?`, content: `<p>content</p>`},
        {label: `Що станеться з пенсійними накопиченнями учасника, якщо він переїде до іншої країни на постійне місце проживання (ПМП)?`, content: `<p>content</p>`},
      ],
    },
    {
      label: 'Переведення пенсіних рахунків між фондами',
      accordion: [
        {label: `Як перевести пенсійний рахунок з / до іншого фонду?`, content: `<p>content</p>`},
        {label: `Чи можна перевести пенсійні накопичення учасника до іншого НПФ, якщо він почав отримувати пенсійні виплати?`, content: `<p>content</p>`},
      ],
    },
    {
      label: 'Зміна відомостей про учасника НПФ',
      accordion: [
        {label: `Що робити, якщо змінилася адреса, прізвище, інша інформація, зазначена в пенсійному контракті?`, content: `<p>content</p>`},
      ],
    },
    {
      label: 'Виплати з НПФ та державна пенсія',
      accordion: [
        {label: `Чи зменшується розмір моєї пенсії з державного Пенсійного фонду України, якщо я та/або мій роботодавець додатково сплачуватимуть внески до НПФ?`, content: `<p>content</p>`},
        {label: `Якщо учасник НПФ почав отримувати пенсійні виплати з НПФ, то як це вплине на отримання ним виплат з Пенсійного фонду України?`, content: `<p>content</p>`},
      ],
    },
  ];


doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title faq
    link(rel="stylesheet" type="text/css" href="../styles/faq.css")
    link(rel="stylesheet" type="text/css" href="../styles/bootstrap-utilities.css")
    //link(rel="stylesheet" type="text/css" href="../styles/jquery-ui.min.css")


  body#faq

    +header('faq-back-btn', true)

    main.with-footer
      // faqs page
      #faq-list-page.faq
        .faq__logo.mt-24.text-center
          +logo(122)
        +divider('Розділи запитань', 'mt-44 mb-32')

        .list(data-listname='faq')
          for item, i in faq
            .list__item(data-list-item-index=i)
              .list__item__label= item.label
              .list__item__suffix
                .ic_right

        .list__item.text-13-20.color-656565.d-block <span class="color-orange">Не знайшли відповіді на своє запитання?</span> Натисніть тут, щоб перейти у форму та задати питання.


      // doc inner lists pages
      for faqItem, i in faq
        - var faqPageId = 'faq-page__'+i
        .faq.d-none(id=faqPageId)
          +divider('Підрозділи запитань', 'divider--white mt-32 mb-32')
          h2.text-15-20.color-orange.mb-32= faqItem.label
          .accordion
            for item in faqItem.accordion
              h3= item.label
              div!= item.content

      .faq.h-100.d-none(id='faq-page__' + faq.length)
        .faq__logo.mt-24.text-center
          +logo(122)
        +divider('Задати запитання', 'mt-44 mb-32')
        .text-14-20.color-6B6B6B Ви маєте можливість у формі нижче, поставити своє запитання та надіслати його нам.

        #question_inputGroup.input-group.w-100
          label.input-group__label(for='question') Введіть текст запитання...
          .has-float-label.h-100
            textarea#question.input-group__control.h-100(name='question')

        .text-14-20.color-6B6B6B.mt-40 Вкажіть <span class="color-orange">e-mail</span> на який надіслати відповідь.
        +input('email', 'E-mail', 'text')

        .mt-auto.pb-48.pt-28
          button.btn Відправити запитання




    +footer()




  script(src="../scripts/jquery-3.6.0.min.js")
  script(src="../scripts/jquery-ui.min.js")
  script(src="../scripts/index.js")

